docker/nodered/data/flows.json
[
    {
        "id": "e02cae5b1f175864",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f_graywater_flow",
        "type": "tab",
        "label": "Graywater Tank",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eff55d95638ec8b7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt_broker_mosquitto",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "569defd999bdaf08",
        "type": "mqtt in",
        "z": "e02cae5b1f175864",
        "name": "",
        "topic": "graywater/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "eff55d95638ec8b7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "14fcd107e121ac4f"
            ]
        ]
    },
    {
        "id": "14fcd107e121ac4f",
        "type": "debug",
        "z": "e02cae5b1f175864",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 240,
        "wires": []
    },
    {
        "id": "mqtt_graywater_in",
        "type": "mqtt in",
        "z": "f_graywater_flow",
        "name": "Graywater MQTT",
        "topic": "graywater/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_mosquitto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "fn_mqtt_to_influx",
                "dbg_mqtt_raw"
            ]
        ]
    },
    {
        "id": "dbg_mqtt_raw",
        "type": "debug",
        "z": "f_graywater_flow",
        "name": "MQTT raw",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "fn_mqtt_to_influx",
        "type": "function",
        "z": "f_graywater_flow",
        "name": "MQTT → Influx line",
        "func": "// Expect topics like:\n//  graywater/distance_in\n//  graywater/water_height_in\n//  graywater/gallons\n//  graywater/percent\n// Payload should be numeric.\n\nconst parts = msg.topic.split(\"/\");\nif (parts.length < 2) {\n    return null; // ignore\n}\n\nconst field = parts[1];\nconst value = parseFloat(msg.payload);\nif (isNaN(value)) {\n    return null; // ignore non-numeric\n}\n\nconst measurement = \"tank\";\nconst tags = \"source=esp32\"; // change if you have multiple sensors\n\n// InfluxDB 2.x HTTP write endpoint\nmsg.method = \"POST\";\nmsg.url = \"http://influxdb:8086/api/v2/write?org=graywater&bucket=tank&precision=s\";\n\n// IMPORTANT: replace YOUR_TOKEN_HERE with your actual InfluxDB API token\nmsg.headers = {\n    \"Authorization\": \"Token PvcPErx-eIH7Ypqniq2YmB0hS7IKJFrvlMYrYEzmm8zLSJdwk_mW7Qk8hjwG9sV8-ZIwz3uztHoMt59iP9lflg==\",\n    \"Content-Type\": \"text/plain\"\n};\n\n// Line protocol: measurement,tag=value field=value\n// Example: tank,source=esp32 percent=63.5\nmsg.payload = `${measurement},${tags} ${field}=${value}`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 160,
        "wires": [
            [
                "http_influx_write",
                "dbg_influx_line"
            ]
        ]
    },
    {
        "id": "dbg_influx_line",
        "type": "debug",
        "z": "f_graywater_flow",
        "name": "Influx line",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "http_influx_write",
        "type": "http request",
        "z": "f_graywater_flow",
        "name": "InfluxDB write",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 780,
        "y": 200,
        "wires": [
            [
                "dbg_influx_resp"
            ]
        ]
    },
    {
        "id": "dbg_influx_resp",
        "type": "debug",
        "z": "f_graywater_flow",
        "name": "Influx response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "statusCode",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 200,
        "wires": []
    }
]